<% if !@creatives || @creatives.length == 0 %>
<h3>Nothing found :(</h3>
<% else %>
<% @creatives.each do |creative| %>
    <div class="creative">
        <h2 class="text-center"><%= link_to creative.title, creative %><small></small></h2>

        <p><%= creative.description %></p>

        <div class="creative-footer"> 
            <span class="glyphicon glyphicon-calendar"></span><a><%= creative.created_at.strftime("%F") %></a>
            <span class="glyphicon glyphicon-user"></span>
            <%= link_to creative.user.username, "/user/" + creative.user.id.to_s %>
            <span class="glyphicon glyphicon-tags"></span>
            <% creative.tags.each do |tag| %>
                <%= link_to tag.value, search_tag_path + "/?q=" + tag.value %>
            <% end %>
            <% if user_signed_in? && !creative.votes.where(:user_id => current_user.id).last %>
                <span id=<%= creative.id %> class="vote-button btn btn-default btn-xs pull-right">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    <span id="vote"><%= creative.num_of_votes %></span>
                </span> 
            <% else %>
                <span id=<%= creative.id %> class="vote-button btn btn-primary btn-xs pull-right">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    <span id="vote"><%= creative.num_of_votes %></span>
                </span> 

            <% end %> 
        </div>
    </div>
    <hr style="width: 50%;"/>
<% end %>

<%= will_paginate @creatives, renderer: BootstrapPagination::Rails %>
<% end %>
