<% if user_signed_in? %>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span>
            <%= current_user.username %>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href=<%= url_for new_creative_path %>>
                    <span class="glyphicon glyphicon-plus "></span>
                    <%= t("navigation.write_new") %>
                </a>
            </li>
            <li>
                <%= link_to t("navigation.all_creatives"), "/user/" + (current_user.id).to_s %>
            </li>
            <li>
                <%= link_to t("navigation.edit_profile"), edit_user_registration_path %>
            </li>
            <li class="divider"></li>
            <% if can? :manage, nil %>
                <li>
                    <%= link_to t("navigation.admin_panel"), admin_path %>
                </li>
                <li class="divider"></li>
            <% end %>
            <li>
                <%= link_to t("navigation.sign_out"), destroy_user_session_path, :method => :delete %>
            </li>
        </ul>
    </li>
<% else %>
    <li ><%= link_to t("navigation.login"), new_user_session_path %></li>
    <li ><%= link_to t("navigation.register"), new_user_registration_path %></li>
<% end %>
