<div class="main-content">
    <div class="alert alert-success notification-fixed">
            
    </div>

    </div>
    <div class="page-header">
        <h1><%= t("creative.edit_header") %><small> | <%= link_to t("creative.show"), @creative %></small></h1>
    </div>
    
    <div class="col-md-8">
        <div class="well">
            <%= render 'form' %>
        </div>
    </div>
    <div class="col-md-4">
        <h4 align="center">
            <%= t("creative.creative_info") %>
        </h4>
        <div class="list-group">
            <a class="list-group-item item" >
                <h4 class="list-group-item-heading"><%= @creative.title %></h4>
            </a>
        </div>
        <h4 align="center">
            <span class="glyphicon glyphicon-move"></span>
            <%= t("creative.chapters") %>
        </h4>
        <div id="chapters" class="list-group">
            <% @creative.chapters.sort_by{|e| e[:order]}.each do |chapter| %>
                <a id=<%= chapter.order %> class="list-group-item item" data-id=<%= chapter.id %>>
                    <h4 class="list-group-item-heading">
                        <%= chapter.title %>
                        <button class="btn btn-danger btn-xs pull-right">del</button>
                    </h4>
                </a>
            <% end %>
        </div>
        <div class="list-group">
            <a class="list-group-item add" >
                <h4 class="list-group-item-heading">
                    <span class="glyphicon glyphicon-plus"></span>
                    <%= t("creative.add_new") %>
                </h4>
            </a>
        </div>
    </div>
</div>


<script>
    var showNotification = function(data) {
        $(".notification-fixed").html(data);
        $(".notification-fixed").fadeIn("fast").delay(1000).fadeOut("fast");
    };

    (function() {
        newItem = "<a class='list-group-item item active'><h4 class='list-group-item-heading'>New<button class='btn btn-danger btn-xs pull-right'>del</button></h4></a>";
        creativeUrl = "/creatives/<%= @creative.id %>/reorder_chapters";
        chapterUrl = "/creatives/<%= @creative.id %>/chapters/";
        creativeEditUrl = "/creatives/<%= @creative.id %>/edit.json";
        $("#chapters").sortable({ cursor: "move" });
        var sorted = $("#chapters").sortable("serialize");
        
        $("#chapters").on("sortupdate", function() {
            var order = $("#chapters").sortable("toArray", {attribute: 'data-id'});
            $.ajax({
                url: creativeUrl + "/?order=" + order,
            }).done(showNotification("Updated"));
            $("#chapters").find("a").each(function(i) {
                $(this).attr("id", i);
            });
        });

        $(".btn-danger").click(function() {
            parent = $(this).parent().parent();
            var id = parseInt(parent.attr("data-id"));
            if (id) {
                $.ajax({
                    type: "DELETE",
                    url: chapterUrl + id,
                }).done(function() {
                    showNotification("Deleted");
                    $(".well").load(creativeEditUrl);
                    parent.remove();
                });
            } else {
                showNotification("Deleted");
                parent.remove();
            };
        });

        $(".item").click(function() {
            $(".item").removeClass('active');
            $(this).addClass('active');
            if (!$(this).attr("id")) {
                $(".well").load(creativeEditUrl);
            } else {
                var id = parseInt($(this).attr("data-id"));
                $(".well").load(chapterUrl + id + "/edit.json");
            }
        });

        $(".add").click(function() {
            $(".item").removeClass('active');
            $("#chapters").append(newItem);
            $(".well").load(chapterUrl + "/new.json");
        });
    })();

</script>


