
<% if notice %>
    <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= notice %>
    </div>
<% end %>


<div class="creative">
    <div class="page-header">
        <h1><%= @creative.title %></h1>
        <%= link_to 'Destroy', @creative, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_creative_path(@creative) %> |
<%= link_to 'Back', creatives_path %>
    </div>
    <blockquote><%= @creative.description %></blockquote>

    <% @creative.chapters.each do |chapter| %>
        <h3><%= chapter.title %></h3>
        <p><%= chapter.content %></p>
    <% end %>

    <div class="creative-footer"> 
        <span class="glyphicon glyphicon-thumbs-up"></span><a><%= @creative.votes %></a>  
        <span class="glyphicon glyphicon-calendar"></span><a>11.12.2020</a>
        <span class="glyphicon glyphicon-user"></span><a><%= @creative.user.username %></a>
        <span class="glyphicon glyphicon-tags"></span>
        <% @creative.tags.each do |tag| %>
            <a><%= tag.value %></a>
        <% end %>
    </div>

</div>