
<% if notice %>
    <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= notice %>
    </div>
<% end %>

<div class="creative">
    <div class="page-header">
        <h1>
            <%= @creative.title %>
            <% if can? :update, @creative %>
            <small> 
                | <%= link_to t("creative.edit"), edit_creative_path(@creative) %> |
                <%= link_to t("creative.destroy"), @creative, method: :delete, data: { confirm: 'Are you sure?' } %>
            </small>
            <% end %>
        </h1>
    </div>
    <blockquote><%= @creative.description %></blockquote>
    <% @creative.chapters.sort_by{|e| e[:order]}.each do |chapter| %>
        <h2><%= chapter.title %></h2>
        <%= @markdown.render(h chapter.content).html_safe %>
    <% end %>

    <div class="creative-footer"> 
        <span class="glyphicon glyphicon-calendar"></span><a><%= @creative.created_at.strftime("%F") %></a>
        <span class="glyphicon glyphicon-user"></span>
        <%= link_to @creative.user.username, "/user/" + @creative.user.id.to_s %>
        <span class="glyphicon glyphicon-tags"></span>
        <% @creative.tags.each do |tag| %>
            <%= link_to tag.value, search_path + "/?q=" + tag.value %>
        <% end %>
        <span id=<%= @creative.id %> class="vote-button btn btn-default btn-xs pull-right">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <span id="vote"><%= @creative.num_of_votes %></span>
        </span>  
    </div>

</div>
