<%= form_for [@chapter.creative, @chapter] do |f| %>
    <% if @chapter.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>
            <ul>
                <% @chapter.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label t("chapter.title") %>
        <%= f.text_field :title, :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label t("chapter.text") %>
        <%= f.text_area :content, :class => "form-control", :rows => 10 %>
    </div>
    <div class="actions">
        <%= f.submit "Save", :class => "btn btn-primary btn-block" %>
    </div>
<% end %>

