<!DOCTYPE html>
<html>
<head>
  <title>RubyCourseProject</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <td><%= link_to 'Cource Project', root_path, :class => "navbar-brand" %></td>
        </div>
        <ul class="nav navbar-nav">
        <li><%= link_to 'Creatives', creatives_path %></li>

        <form action=<%= url_for root_path %> method="GET" class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search..." name="text">
            </div>
        </form>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <%= render "shared/login_menu" %>
        </ul>
    </div>
</nav>

<div class="container">
<%= yield %>
</div>
</body>
</html>
